# Core
tidyverse
data.table
lubridate
DataExplorer
ggplot2
plotly
readr

# Modeling
keras
tensorflow
caret
rsample

# Reporting
rmarkdown
DataExplorer
tinytex

# Realtime / App
shiny
DT
gapminder
gifski
